@charset "UTF-8";

/*body::-webkit-scrollbar {
    display: none;
}*/

/* TOPO */

.box-topo {
    background: var(--cor07);
    padding: 0 calc((100% - 1200px) / 2);
    padding-top: 60px;
    padding-bottom: 30px;
}

.topo {
    background: transparent url('../img/icones/top-right.svg') no-repeat right 20px top 0px;
    padding: 0 20px;
}


/* BIKES */

.box-bikes {
    padding: 60px calc((100% - 1200px) / 2);
}

.box-bikes:nth-child(2n+3) {
    background-image: linear-gradient(to right, var(--cor02) 30%, var(--cor07) 0%);
}

.box-bikes:nth-child(2n+3) h2 {
    color: var(--cor02);
}

.box-bikes:nth-child(2n+3) p {
    color: var(--cor03);
}

.bike-container {
    display: flex;
}

.bike-img {
    padding: 0 20px;
    flex: 1 1 50%;
    position: relative;
}

.bike-img::after {
    content: '';
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: var(--cor02);
    background: var(--cor01);
    border-radius: 5px 0 0 5px;
    width: 75px;
    height: 25px;
    padding: 8px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.bike-img.nimbus::after {
    content: 'R$ 4999';
}

.bike-img.magic::after {
    content: 'R$ 2499';
}

.bike-img.nebula::after {
    content: 'R$ 3999';
}

.bike-img img {
    width: 100%;
}

.box-desc-bike {
    flex: 1 1 50%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.desc-bike {
    flex: 1 1 100%;
    padding: 15px 20px;
    background: transparent url('../img/icones/top-right.svg') no-repeat right 20px top 0px;
}

.desc-bike h2 {
    font-size: 3.2rem;
    color: var(--cor01);
    margin-bottom: 20px;
    position: relative;
}

.desc-bike h2::before {
    content: '';
    width: 12px;
    height: 8px;
    background: var(--cor04);
    position: absolute;
    top: -15px;
    left: 0;
}

.desc-bike p {
    font-size: 1.6rem;
    color: var(--cor06);
    max-width: 60ch;
}

.config-bike {
    display: flex;
    flex: 1 1 100%;
}

.config-bike ul {
    flex: 1 1 50%;
    padding: 20px;
    padding-right: 0;
}

.config-bike li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.config-bike li:last-child {
    padding-bottom: 0;
}

.config-bike li img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.config-bike li p {
    font-size: 1.8rem;
    color: var(--cor06);
}

.container-botao {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    padding-left: 0;
}

.botao.sobre {
    width: max-content;
    padding: 16px 32px;
    padding-right: 64px;
    display: flex;
    align-items: center;
    position: relative;
}


.botao.sobre::after {
    content: url('../img/icones/seta.svg');
    position: absolute;
    right: 32px;
    bottom: 18px;
    transition: 0.3s;
}

.botao.sobre:hover::after {
    right: 25px;
}