@charset "UTF-8";

/* TOPO BIKE INDIVIDUAL */

.titulo-branco.bike-solo {
    text-transform: none;
}

.subtitulo.bike-solo {
    font-size: 3.2rem;
    padding-bottom: 5px;
}


/* FICHA TECNICA BIKE */

.bike-solo.g {
    padding-bottom: 20px;
}

.bike-solo.dupla {
    display: flex;
    flex-wrap: wrap;
}

.bike-solo.p {
    flex: 1 1 50%;
    height: 207px;
}

.bike-solo.p:first-child {
    padding-right: 20px;
}

.bike-solo.p img,
.bike-solo.g img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-info-bike {
    position: relative;
}

.box-entrega {
    position: relative;
}

.entrega {
    display: inline-flex;
    padding: 3px 5px;
    background: var(--cor01);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 220px;
}

.entrega p,
.estoque p {
    color: var(--cor03);
    font-size: 1.2rem;
    padding-left: 10px;
}

.estoque {
    display: inline-flex;
    padding: 3px 5px;
    background: var(--cor01);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 220px;
}

.info-bike {
    padding: 0 calc((100% - 1200px) / 2);
    padding-bottom: 70px;
    background: var(--cor07);
    display: flex;
}

.box-img-bike-solo {
    margin: 0 20px;
    flex: 1 1 50%;
}

.box-infos-bike {
    margin: 0 20px;
    flex: 1 1 50%;
}

.box-tec-vantagem.bike-solo {
    padding: 30px;
    margin: 70px 0;
    background: var(--cor01);
    flex-wrap: wrap;
    position: relative;
}

.box-tec-vantagem.bike-solo::before {
    content: 'Informações';
    color: var(--cor02);
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
    left: 0;
}

.tec-vantagem.bike-solo {
    padding-top: 0;
    flex: 1 1 50%;
}

.tec-vantagem.bike-solo:nth-child(n + 3) {
    padding-top: 20px;
}

.tec-vantagem.bike-solo:nth-child(2n + 1) {
    padding-right: 10px;
}

.tec-vantagem.bike-solo:first-child {
    margin-right: 0px;
}


/* FICHA TECNICA */

.box-ficha-tec {
    background: var(--cor01);
    padding: 30px;
    position: relative;
}

.box-ficha-tec::before {
    content: 'Ficha Técnica';
    color: var(--cor02);
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
    left: 0;
}

.ficha-tec li {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px solid #b2b2b21a;
}

.ficha-tec li:last-child {
    border-bottom: none;
}

.ficha-tec li p {
    color: var(--cor03);
}

.ficha-tec li span {
    color: var(--cor06);
}


/* ESCOLHA BIKE INDIVIDUAL*/

.escolha.bike-solo {
    padding: 0 calc((100% - 1200px) / 2);
}

.tec-vantagem.bike-solo p {
    font-size: 1.4rem;
}


/* ARTIGO CONHEÇA MAIS */

.box-artigo-mais {
    padding: 0 calc((100% - 1200px) / 2);
    background: var(--cor07);
    box-shadow: inset 0 80px var(--cor02), inset 0 -80px var(--cor01);
    display: flex;
}

.img-artigo-mais {
    padding: 0 20px;
    flex: 1 1 50%;
}

.img-artigo-mais img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.artigo-mais {
    padding: 150px 20px;
    align-self: center;
    flex: 1 1 50%;
}

.titulo-relevante.pedale-mais {
    padding-top: 0;
}

.titulo-relevante.pedale-mais span {
    color: var(--cor04);
}