@charset "UTF-8";

/* CONTATO */

.contato-orcamento {
    padding: 0 calc((100% - 1200px) / 2);
    padding-bottom: 60px;
    box-shadow: inset 0 250px var(--cor07), inset 0 0;
}

.box-contato-orcamento {
    margin: 0 20px;
    display: flex;
}

.box-preto {
    width: 43%;
    background: var(--cor01) url('../img/icones/bottom-left.svg') no-repeat bottom 20px left 20px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.137);
    border-radius: 5px 0 0 5px;
    padding: 60px;
}

.box-preto h3 {
    color: var(--cor02);
    padding-bottom: 40px;
    font-weight: normal;
}

.box-preto p,
.box-preto a {
    color: var(--cor14);
    line-height: 30px;
}

.box-preto a:hover {
    color: var(--cor02);
}

.topo-endereco,
.topo-mail,
.topo-tel {
    position: relative;
}

.topo-endereco::before {
    content: url('../img/icones/local.svg');
    position: absolute;
    left: -30px;
    top: 4px;
}

.topo-mail::before {
    content: url('../img/icones/email.svg');
    position: absolute;
    left: -30px;
    top: 4px;
}

.topo-tel::before {
    content: url('../img/icones/telefone.svg');
    position: absolute;
    left: -30px;
    top: 4px;
}

.item-loja {
    padding: 0 30px 30px 30px;
}


/* box-branco */

.box-branco {
    width: 57%;
    background: var(--cor02) url('../img/icones/bottom-right.svg') no-repeat bottom 20px right 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.137);
    border-radius: 0 5px 5px 0;
    padding: 60px;
}

.item-form {
    padding-bottom: 20px;
    display: flex;
    flex: 1 1 100%;
}

.label-esquerda {
    padding-right: 10px;
    width: 50%;
}

.label-direita {
    padding-left: 10px;
    width: 50%;
}

.label-esquerda,
.label-direita,
.label-completa,
.area-texto {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 10px;
}

input,
textarea {
    background: var(--cor13);
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    font-size: 1.6rem;
    padding: 15px;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(255, 238, 171);
    border: 1px solid var(--cor04);
    background: var(--cor02);
}

.botao.form {
    color: var(--cor05);
    text-transform: uppercase;
    font-weight: bolder;
}


/* Mapas Lojas */

.lojas-locais {
    padding: 60px calc((100% - 1200px) / 2);
}

.box-lojas-locais {
    margin: 0 20px;
    display: flex;
}

.mapa.rj {
    margin-right: 20px;
}

.mapa.sp {
    margin-left: 20px;
}

.mapa img {
    border-radius: 5px 5px 0 0;
}

.desc-mapa {
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.137);
    border-radius: 0 0 5px 5px;
}

.desc-mapa h2 {
    font-size: 3.2rem;
    padding-bottom: 30px;
}

.desc-mapa p,
.desc-mapa a {
    color: var(--cor06);
    line-height: 30px;
}

.desc-mapa a:hover {
    color: var(--cor01);
}

.rj-contato,
.sp-contato {
    display: flex;
    padding-bottom: 30px;
}

.rj-endereco,
.rj-mail-tel,
.sp-endereco,
.sp-mail-tel {
    flex: 1 1 50%;
    border-left: 2px solid #EDEDED;
    padding-left: 10px;
}

.horario {
    display: flex;
    align-items: center;
}

.horario p {
    padding-left: 10px;
    color: var(--cor01);
}
